<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
  <add key="constring" value="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Dharmin\Documents\Visual Studio 2010\WebSites\4arc- A Social networking website with market express\App_Data\4arc.mdf;Integrated Security=True;User Instance=True" />
 </appSettings>
	<connectionStrings>
  <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Dharmin\Documents\Visual Studio 2010\WebSites\4arc- A Social networking website with market express\App_Data\4arc.mdf;Integrated Security=True;User Instance=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
    <sessionState timeout="30" />
		<compilation debug="true" targetFramework="4.0">
      
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
    <httpRuntime executionTimeout="110" maxRequestLength="10240"/>
    <pages enableEventValidation="false" />
	</system.web>
</configuration>
